@import './login-banner/LoginBanner.scss';
@import './login-data/LoginData.scss';

.Login {
  flex-grow: 1;
  &__banner-container {
    height: 100vh;
    @include for-phone-only {    
      height: 40vh;
    }
  }

  &__data-container {
    // height: 100vh;
    @include for-phone-only {    
      height: 60vh;
    }
  }
}