
// @import '../../../scss/index.scss';

.LoginBanner {
  background-image: url('./images/background-login.svg') ;
  min-height: 100vh;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;

  &__text-container {
    display: flex;
    flex-direction: column;
  }

  .title {
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.2px;
    color: $color-gray-title;

    &--red {
      color: $color-red-title;
    }
  }
}